<div class="main-content">
  <div class="section-content section-content-p30">
    <h2>Loại: {{ currentCategoryName }}</h2>
    <marquee direction="right" hspace=80>
      <span style="color: red;">Khuyến mãi sốc:</span> mua 2 tặng 1, tính tiền 3!!! Nhanh tay lên!!!
    </marquee>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        <div *ngFor="let item of products" class="col-md-3">
          <div class="product-box">
            <!-- add clickable for image (routerLink) -->
            <a routerLink="/products/{{ item.id }}">
            <img src="{{ item.imageUrl }}" class="img-responsive">
            </a>
            <!-- add clickable for product name (routerLink) -->
            <br>
            <a routerLink="/products/{{ item.id }}" style="text-decoration: none;">
            <h1>{{ item.name }}</h1>
            </a>
            <div class="price">{{ item.unitPrice | currency:'USD'}}
              <!-- <a href="#" class="primary-btn">Thêm vào giỏ</a> -->
            <button (click)="addToCart(item)" class="btn btn-success btn-sm" style="font-weight: bold;font-size: 15px;">Thêm vào giỏ</button>
            </div>
          </div>
        </div>
        <!-- if the product is empty, display a message to user -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">Không tìm thấy sản phẩm.</div>
      </div>
      <!-- begin footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="theTotalElements"
                  [maxSize]="5"
                  [boundaryLinks]="true"
                  (pageChange)="listProducts()">
                </ngb-pagination>
              </div>
              <!-- select page size -->
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>
                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end footer -->
    </div>
  </div>
</div>
